canvas {
    display: block;
    position: absolute;
    image-rendering: pixelated;
}
img {
    image-rendering: pixelated;
}

.game-area {
    position: relative;
    height: 642px;
    width: 642px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px dashed gray;
    margin: 4px;
}

.game-container {
    display: flex;
}

.game-section {
    display: flex;
}

.game-information {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
}

.game-information-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-brush {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.game-brushes {
    display: flex;
    flex-direction: column;
}
.game-brushes-general {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(22, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-general > div {
    height: 16px;
    width: 16px;
}
.game-brushes-path {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(22, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-path > div {
    height: 16px;
    width: 16px;
}
.game-brushes-path {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(8, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-path > div {
    height: 16px;
    width: 16px;
}
.game-brushes-bridge-horizontal {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(12, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-bridge-horizontal > div {
    height: 16px;
    width: 16px;
}
.game-brushes-bridge-vertical {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(5, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-bridge-vertical > div {
    height: 16px;
    width: 16px;
}
.game-brushes-fountain {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(18, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-fountain > div {
    height: 16px;
    width: 16px;
}
.game-brushes-fences-and-walls {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(15, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-fences-and-walls > div {
    height: 16px;
    width: 16px;
}
.game-brushes-resources {
    display: grid;
    grid-template-rows: 16px;
    grid-template-columns: repeat(12, 16px);
    column-gap: 0;
    row-gap: 0;
}
.game-brushes-resources > div {
    height: 16px;
    width: 16px;
}

html, body {
    margin: 0;
}

